<div class="container logo-container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar" id="nav_bar" role="navigation">

        <div class="navbar-header">
          <h1 class="logo-div">
            <a href="/">Ting</a>
          </h1>
        </div>
      </nav>
    </div>

  </div>
</div>

<div id="main">
  <div class="main">
    <form action="/signup/register" method="POST">

      <h1>
        Register
      </h1>

      <div class="inset">
        <p>
          <label for="username">USERNAME</label>
          <input type="text" class="form-control" id="username" placeholder="Name" name="username"/>
        </p>

        <p>
          <label for="email">EMAIL ADDRESS</label>
          <input type="text" class="form-control" id="email" placeholder="Name" name="email"/>
        </p>
        <p>
          <label for="password">PASSWORD</label>
          <input type="password" class="form-control" id="password" placeholder="Name" name="password"/>
        </p>

      </div>

      <p class="p-container">
        <span><a href="/">Login</a></span>
        <input
          type="submit"
          class="login-log"
          style=" background: #3bb5ec; border: #3bb5ec;"
          value="Register"
        />
      </p>
    </form>
  </div>
</div>